#main{position: relative;
    background-image:url('../images/background.png');
    background-repeat: no-repeat;
    background-size: 100vw 100%;
}
.vlist{width: 100%;
         height: 50px;
         text-align: center;
         justify-content: center;
         align-items: center;
         display: block;
         color: #515862;
         font-family: 'Ubuntu Condensed', sans-serif;
         font-size: 16pt;
         text-decoration: none;
         margin-bottom: 30px;
}
.ht{font-family: 'Bebas Neue', cursive;
          font-size: 27pt;
          color: #2190c1;
          padding-top: 30px;
          padding-bottom: 30px;
          margin: 0px;
          text-align: center;
}
.th, .th>img{text-align: center;
    margin-left: 15px;
    padding: 30px 30px}
.rt{text-align: center;
  font-family: 'Bree Serif', serif;
    font-size: 25pt;
    color: #515862;
    margin: 15px 0px;
    padding-bottom: 114px;
  }
.col-md-12.about{border: solid 2px black;
    position: relative;
    background-image:url('../images/background2.png');
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    /*min-width: 1280px;
    min-height: 295px;*/
    }
.col-md-12.about > p{font-family: 'Bebas Neue', cursive;
          font-size: 80pt;
          color: #cccece;
          padding-top: 124px;
          padding-bottom: 114px;
          margin: 0px;
}
.der{background-color: #f4f4f4;}
.whoweare > p{font-family: 'Bebas Neue', cursive;
          font-size: 50pt;
          color: #2190c1;
          padding-top: 27px;
        /*  padding-bottom: 114px;*/
          margin: 0px;
  }
.text > p{font-family: 'Ubuntu Condensed', sans-serif;
          font-size: 13pt;
          color: #515862;
          padding-top: 37px;
          padding-bottom: 37px;
          margin: 0px;
        }
.col-md-12.text2 > p, .col-md-9>p{font-family: 'Ubuntu', sans-serif;
          font-size: 13pt;
          color: #515862;
        /*  padding-top: 65px;
          padding-bottom: 55px;*/
          margin: 0px;
        }
.col-md-12.gooddesign > p{font-family: 'Bebas Neue', cursive;
          font-size: 69pt;
          color: #515862;
          padding-top: 65px;
          padding-bottom: 87px;
          margin: 0px;
        }
.text-center.blue{font-family: 'Bree Serif', serif;
          font-size: 20pt;
          color: #2190c1;
          /*padding-top: 65px;
          padding-bottom: 87px;*/
          margin: 0px;
  }
.text-center.grey{font-family: 'Ubuntu', sans-serif;
          font-size: 13pt;
          color: #515862;
          /*padding-top: 65px;*/
          padding-bottom: 22px;
          margin: 0px;
  }
  .col-md-12.ourteam > p{font-family: 'Bebas Neue', cursive;
            font-size: 50pt;
            color: #2190c1;
            padding-top: 40px;
          /*  padding-bottom: 114px;*/
          border-top: solid 3px #dadada;
            margin: 0px;
    }
  .text-center.first{font-family: 'Bree Serif', serif;
            font-size: 17.5pt;
            color: #666666;
            /*padding-top: 40px;*/
          /*  padding-bottom: 114px;*/
            margin: 0px;
  }
  .text-center.second{font-family: 'Bebas Neue', cursive;
            font-size: 32.6pt;
            color: #2190c1;
            /*padding-top: 40px;*/
          /*  padding-bottom: 114px;*/
            margin: 0px;
  }
  .text-center.third {font-family: 'Bebas Neue', cursive;
            font-size: 13pt;
            color: #94979b;
            /*padding-top: 40px;*/
          /*  padding-bottom: 114px;*/
            margin: 0px;
          }
.text-center.fourth{font-family: 'Ubuntu', sans-serif;
          font-size: 12pt;
          color: #515862;
          /*padding-top: 40px;*/
        /*  padding-bottom: 114px;*/
          margin: 0px;
        }
.shadow1{box-shadow: -13px -13px 3px 0px #d3d3d3;
        margin-top: 40px;
        margin-bottom: 60px;
        margin-right: 30px;
        background-color: white;
}
.shadow2{box-shadow: 13px -13px 3px 0px #d3d3d3;
          margin-top: 40px;
          margin-bottom: 60px;
          margin-left: 30px;
          background-color: white;
}
p > span{font-family: 'Ubuntu', sans-serif;
          font-size: 12pt;
          color: #2896c1;
          text-decoration: underline;
          /*padding-top: 40px;*/
        /*  padding-bottom: 114px;*/
          /*margin: 0px;*/
        }
.fgh{margin: 20px 0px;
}
.col-md-12.it > p{font-family: 'Bebas Neue', cursive;
      font-size: 35.4pt;
      color: #515862;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
.col-md-12.social5{
  text-align: center;
}
.tre{
  padding-bottom: 40px;
}
.col-md-3.ig{
  padding: 20px 15px;
}

#thought{padding-bottom: 108px;}
.navbar{padding: 0px;}
.foot p{color: #a3afb2;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 12pt;
    margin: 0px;
    padding: 0px;}
#good{font-family: 'Bebas Neue', cursive;
      font-size: 60pt;
      color: #cccece;
      text-align: center;
      padding-top: 10%;}
#ubuntu{font-family: 'Ubuntu', sans-serif;
        font-size: 14pt;
        color: #cccece;
        text-align: center;}
#learnmore{font-family: 'Ubuntu Condensed', sans-serif;
          margin-top: 3%;
          margin-bottom: 15.5%;
          font-size: 25pt;
          color: #ffebca;
          text-align: center;
          background-color: #f98561;
          border-radius: 8px;
          padding: 5px 50px;}
#navbar{font-family: 'Bree Serif', serif;
        font-size: 20pt;
        color: #606060;
        width: 30%;
        text-align: center;
        padding-top: 0.6%;
        padding-bottom: 0.75%;}
#slider{position: absolute;
      right: 14.5%;
      bottom: 7%;}
#middle{text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;}
#ourservices{background-color: #2190c1;
            color: white;
            font-size: 22pt;
            font-family: 'Bebas Neue', cursive;
            text-align: center;
            margin-top: -17pt;
            border-radius: 3pt;}
#morework{background-color: #2190c1;
          color: white;
          border-radius: 8px;
          padding: 5px 20px;
          margin-top: 70px;}
#portfolio{font-family: 'Bree Serif', serif;
          color: #f98561;
          text-align: center;
          font-size: 30pt;
        padding-bottom: 85px;
        padding-top: 60px;}
#camera{background-color: #bebebe;
        border: solid 15px white;
        padding: 110px 140px;}
#detail{background-color: #bebebe;
        border: solid 15px white;
        padding: 106px 90px;}
#second{background-color: #2e3e4f;
        padding-bottom: 50px;}
#betwen{margin: 0px 100px;}
#third{color: #515862;
      font-size: 12pt;
      font-family: 'Ubuntu', sans-serif;}
#details, #shop{background-color: #2190c1;
          color: white;
          border-radius: 8px;
          padding: 5px 15px;
          margin-top: 10px;
          margin-left: 160px;}
#footer{background-color: #2e3e4f;
        padding-top: 30px;
        padding-bottom: 50px;
        }
#mylogo{font-size: 20pt;
      padding-left: 0px;
      color: #606060;
      font-family: 'Bree Serif', serif;
      text-align: center;
      text-decoration: none;}
.blog{background-color: #f98561;
      border-radius: 5px;
      padding: 0px 20px;}
.nav-item>a{color: #515862;
          text-align: justify;
         font-family: 'Ubuntu Condensed', sans-serif;
          font-size: 12pt;}
@font-face {
            font-family: 'Myriad Pro Regular';
            src: url('../fonts/MyriadPro-Regular.eot');
            src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
            url('../fonts/MyriadPro-Regular.woff') format('woff'),
            url('../fonts/MyriadPro-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
            }
div h1{color: #515862;
      font-size: 17pt;
      font-family: 'Bree Serif', serif;
      padding-top: 10%;}
div p{color: #515862;
      font-size: 11pt;
      font-family: 'Myriad Pro Regular';}
p a{color: #3e9dd1;}
div h4{color: #2b99cc;
      font-size: 17pt;
      font-family: 'Bree Serif', serif;
      padding-top: 40px;}
div h2{color: #f98561;
      font-size: 17pt;
      font-family: 'Bree Serif', serif;
      padding-top: 10%;}
div h3{color: #2190c1;
      font-size: 40pt;
      font-family: 'Bebas Neue', cursive;
      text-align: center;
      padding-top: 3%;}
h5{color: #2b99cc;
      font-size: 27pt;
      font-family: 'Bebas Neue', cursive;
      padding-top: 50px;}
h6{color: #f98561;
      font-size: 17pt;
      font-family: 'Bree Serif', serif;
      padding-top: 40px;}
#abb p, #b p, #c p, #d p{color: #bcbcbc;
            font-family: 'Ubuntu Condensed', sans-serif;
            font-size: 11pt;
            padding-bottom: 95px;}
.footer{color: #f98561;
        font-size: 30pt;
        font-family: 'Bebas Neue', cursive;}
.link{color: #228bba;
      font-family: 'Ubuntu Condensed', sans-serif;
      font-size: 12pt;}
.col-md-8 {color: #a3afb2;
          font-family: 'Ubuntu Condensed', sans-serif;
          font-size: 13pt;}
hr{border: solid 1px #556270;}
.navbar-nav li{margin-left: 100px;}
.nav-item.active{background-color: #12a3d6;
   color: white;
    height: 50px;
    align-items: center;
    padding-top: 5px;
  }


  /*      <nav class="navbar navbar-default">
          <div class="container-fluid">
                <div class="navbar-header" id="navbar">
                  <img src="icons/1.png" alt="orange round">
                  <img src="icons/2.png" alt="quadrate blue">
                  Your Logo
                </div>
                <div>
                  <ul class="nav navbar-nav" id="list">
                    <li class="nav active">Home</li>
                    <li>Portfolio</li>
                    <li>About</li>
                    <li>Contact</li>
                  </ul>
                </div>
          </div>
        </nav>*/

/*            <header>
      <div class="container-fluid">
        <div class="row align-items-center" style="height: 27.9mm">
          <div class="col-md-4" style="background-color: gray; padding: 7px 20px">
            <img src="" alt="">
            <img src="" alt="">
            Your Logo
          </div>
          <div class="col-md-5" style="background-color: orange">
              <div class="row align-items-center">
                <div class="col-md-2">
                  Home
                </div>
                <div class="col-md-3">
                  Portfolio
                </div>
                <div class="col-md-2">
                  About
                </div>
                <div class="col-md-2">
                  Contact
                </div>
                <div class="col-md-3">
                  <button type="button" name="button" class="btn btn-danger">Blog</button>
                </div>
              </div>
          </div>
          <div class="col-md-2" style="background-color: purple; padding: 6px 20px">
            Search
            <img src="" alt="search icon">
          </div>
        </div>
      </div>
    </header>
*/
