footer{text-align: center;}
.cosial a{border-right: solid 1px black;
          text-align: center;}
button{border-radius: 50px;
       padding: 5%;
      }
.col-xs-5{margin-left: 9%;}
.container-fluid{margin-top: 6%;}
body{font-family: 'Alegreya', serif;}
.link{text-decoration: none;
  color: #686868;
      padding-left: 2%;
      padding-right: 2%;}
#border{border-left: solid 1px #686868;
       border-right: solid 1px #686868;}
